<div class="col-xs-12">
  <h2>Posts</h2>
  <ul>
     <app-appareil *ngFor = "let appareil of appareils; let i = index"
              [indexOfAppareil] = "i"
              [appareilName] = "appareil.name"
              [appareilStatus] = "appareil.status"
     >
     </app-appareil>
  </ul>
</div>
<button class="btn btn-success" [disabled] = "! isAuth" (click)="putAllOn()">On</button>
<button class="btn btn-success" [disabled] = "! isAuth" (click)="putAllOff()">Off</button>

<div class="col-xs-12">
  <ul>
     <app-post-list-component [postArr] ='posts'>
     </app-post-list-component>
  </ul>
</div>
